*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    ;
    grid-row-gap: 10px;
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}
/*padre ul*/
.padreUno{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}
.padreUno li{
    background-color: orange;
    padding: 15px;
    border: solid 3px black;
}
.padreUno a{
    color: black;
    text-decoration: none;
}

/*padre main*/
.main{
    background-color: rgb(172, 238, 107);
    border: solid 2px black;
    display: flex;
    height: 100px;
    justify-content: space-around;
    

}
.main div{
    border: solid 2px black;
    background-color: coral;
    padding: 25px;
    
}
.footer{
    background-color: grey;
    border: solid 2px red;
    
}

@media (max-width: 768px) {
        .footer {
                background-color: #a2c2b0;
                font-size: 35px;
                
          }}

          @media (max-width: 420px) {
            
                .footer {
                        background-color: #2b4a79;
                        font-size: 25px;
                  }}
/*transfomacion*/
.prod:hover{
    transform: scale(1.5);
    transition-property: all;
    transition-duration: 1s;
}            